body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

section h2 {
    color: #333;
    font-size: 24px;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tama単o-letra {
    font-size: 25px;
}

@media screen and (min-width: 448px) and (max-width: 560px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 16px;
    }

    nav ul li {
        margin-right: 5px;
    }

    nav ul li.tama単o-letra a {
        font-size: 14px;
    }
}

@media screen and (max-width: 560px) {
    header {
        padding: 15px;
    }

    header h1 {
        font-size: 18px;
    }

    nav ul li {
        margin-right: 8px;
    }

    nav ul li.tama単o-letra a {
        font-size: 16px;
    }
}

@media screen and (min-width: 560px) and (max-width: 600px) {
    header {
        padding: 15px;
    }

    header h1 {
        font-size: 20px;
    }

    nav ul li {
        margin-right: 8px;
    }

    nav ul li.tama単o-letra a {
        font-size: 18px;
    }
}
