body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 120px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #fff; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed; 
    width: 100%; 
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

section h2 {
    color: #333;
    font-size: 24px;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tamaño-letra {
    font-size: 25px;
}

section {
    margin-top: 110px;
    margin-left: 10px
}

@media screen and (min-width: 448px) and (max-width: 560px) {
    header {
        padding: 10px;
    }

    .navbar ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: black; 
        padding: 10px;
    }

    .navbar ul.active {
        display: flex;
        flex-direction: column;
    }

    .header-content {
        justify-content: space-between;
    }

    .hamburger {
        display: block;
    }

    header h1 {
        font-size: 16px;
    }

    nav ul li {
        margin-right: 20px;
    }

    nav ul li.tamaño-letra a {
        font-size: 14px;
    }
}

@media screen and (max-width: 560px) {
    header {
        padding: 15px;
    }

    .navbar ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: black; 
        padding: 10px;
    }

    .navbar ul.active {
        display: flex;
        flex-direction: column;
    }

    .header-content {
        justify-content: space-between;
    }

    .hamburger {
        display: block;
    }

    header h1 {
        font-size: 18px;
    }

    nav ul li {
        margin-right: 8px;
    }

    nav ul li.tamaño-letra a {
        font-size: 16px;
    }
}

@media screen and (min-width: 560px) and (max-width: 600px) {
    header {
        padding: 15px;
    }

    .navbar ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: black; 
        padding: 10px;
    }

    .navbar ul.active {
        display: flex;
        flex-direction: column;
    }

    .header-content {
        justify-content: space-between;
    }

    .hamburger {
        display: block;
    }

    header h1 {
        font-size: 20px;
    }

    nav ul li {
        margin-right: 8px;
    }

    nav ul li.tamaño-letra a {
        font-size: 18px;
    }
}

@media screen and (min-width: 200px) and (max-width: 420px) {
    header {
        padding: 15px;
    }

    header h1 {
        font-size: 16px;
    }

    nav ul li {
        margin-right: 20px;
    }

    nav ul li.tamaño-letra a {
        font-size: 14px;
    }
}

@media screen and (min-width: 420px) and (max-width: 448px) {
    header {
        padding: 15px;
    }

    .navbar ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: black; 
        padding: 10px;
    }

    .navbar ul.active {
        display: flex;
        flex-direction: column;
    }

    .header-content {
        justify-content: space-between;
    }

    .hamburger {
        display: block;
    }
    header h1 {
        font-size: 16px;
    }

    nav ul li {
        margin-right: 20px;
    }

    nav ul li.tamaño-letra a {
        font-size: 14px;
    }
}
