body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: red;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}




header h1 {
    margin: 0;
}


nav ul {
    list-style: none;
    padding: 0;
}


nav ul li {
    display: inline;
    margin-right: 20px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
}


section {
    padding: 20px;
    margin-top: 80px;
}




footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 120px;
}


.menu {
    max-width: 600px;
    margin: auto;
}


.menu h3 {
    color: #333;
    font-size: 20px;
    margin-top: 20px;
}


.menu ul {
    list-style: none;
    padding: 0;
}


.menu ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.imagen-seccion {
    background-image: url('./images/5f58b1bb6d322.r_d.627-418-0.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}


.color-letra {
    color:black
}


footer ul {
    list-style: none;
    padding: 0;
}


.nosotros-seccion {
    display: flex;
    align-items: center;
}


.nosotros-contenido {
    flex: 1;
}




.imagen-nosotros img {
    max-width: 70%;
    height: auto;
    margin-left: 200px;
}


.tamaño-letra {
    font-size: 20px;
}


.header-content nav ul {
    margin-right: 20px;
}


@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 24px;
    }

    nav ul li {
        margin-right: 10px;
    }

    section {
        margin-top: 60px; /* Reduzco el margen superior en dispositivos más pequeños */
    }

    footer {
        margin-top: 40px; /* Ajusto el margen superior del pie de página */
    }

    .imagen-seccion {
        padding-top: 80px; /* Reduzco el padding superior de la imagen de la sección */
        padding-bottom: 20px; /* Añado un poco de espacio adicional inferior */
    }

    .imagen-seccion img {
        max-width: 100%;
    }

    nav ul li.tamaño-letra a {
        font-size: 16px;
    }
}

/* Media query para dispositivos móviles pequeños */
@media screen and (max-width: 414px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 14px;
    }

    nav ul li {
        margin-right: 10px;
    }

    section {
        margin-top: 40px; /* Reduzco aún más el margen superior en dispositivos más pequeños */
    }

    footer {
        margin-top: 30px; /* Ajusto aún más el margen superior del pie de página */
    }

    .imagen-seccion {
        padding-top: 60px; /* Reduzco el padding superior de la imagen de la sección */
        padding-bottom: 10px; /* Añado un poco de espacio adicional inferior */
        background-size: 100% auto; /* Ajusta el tamaño del fondo para cubrir completamente la sección */
    }

    .imagen-seccion img {
        padding-top: 30px; /* Reduzco el padding superior de la imagen dentro de la sección */
        padding-bottom: 20px; /* Añado un poco de espacio adicional inferior */
        background-size: cover; /* Ajustar la imagen para cubrir completamente la sección */
        margin: 0; /* Elimino cualquier margen */
        width: 100%;
    }

    nav ul li.tamaño-letra a {
        font-size: 12px;
    }
}
